* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --zm-black: #000000; 
  --zm-darker: #232322;
  --zm-dark: #4a4a4a;
  --zm-white: white;
  --zm-end: #f80a11;
  --zm-accent: #4ac900;
}

i {
    color: var(--zm-white);
}

.d-flex {
    display: flex;
}

/* Debug Region */
.debug .header {
    height: 100px;
}

.debug .container {
    background-color: antiquewhite;
    min-height: 100px;
}

.debug #main {
    height: 1100px;
    background-color: var(--zm-dark);
}

.debug #pg_footer {
    background-color: var(--zm-darker);
}

/* /Debug Region */

/* Utility */

#pg_header {
    background-color: var(--zm-black);
}

#pg_footer {
    height: 100px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
}
